body {
    background-color: #070730;
    padding-top: 150px;
    color: white;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.about-wrapper {
    max-width: 600px;
    margin: 0 auto;
    line-height: 30px;
    text-align: left;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 17px;
}