body {
    background-color: #070730;
    padding-top: 130px;
    color: white;
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;
}

a, a:hover, a:link, a:visited, a:active {
    color: #3d9970;
    text-decoration: none;

}
.about-wrapper {
    max-width: 80%;
    margin: 0 auto;
    line-height: 30px;
    text-align: left;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 17px;
}

.a-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 30px;
    top: 50%;
    color: white;
    margin: 5px auto;
    font: bold 13px Arial;
    text-decoration: none;
    background-color: transparent;
    padding: 2px 6px 2px 6px;
    border: 1px solid white;
}

.a-button:hover {
    background-color: #3d9970;
    color: #070730;
}

.a-button:visited {
    color: white;
}

.a-botton:link {
    color:white
}

.about-buttons-wrapper {
    margin-top: 50px;
}

@media screen and (max-width: 480px) {
    body {
        padding-top: 17px;
    }
}