.modal-header {
    background-color: navy;
    color: white;
}

#modal-description {
    font-family: sans-serif;
    min-height: 500px;
    font-size: 16px;
}

.modal-tech {
    font-size: 14px;
    color: #91afed;
    padding-right: 15px;
}

.a-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 30px;
    top: 50%;
    margin: 5px auto;
    font: bold 13px Arial;
    text-decoration: none;
    background-color: navy;
    color: white;
    padding: 2px 6px 2px 6px;
    border: 1px solid white;
}

.a-button:hover {
    background-color: #3d9970;
    color: #070730;
}

.team-members {
    padding-right: 15px;
}

.modal-contents-header {
    font-family: Lato;
    margin-top: 15px;
    font-weight: bold;
}

.a-button-disabled {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 30px;
    top: 50%;
    margin: 5px auto;
    font: bold 13px Arial;
    text-decoration: none;
    background-color: grey;
    color: white;
    padding: 2px 6px 2px 6px;
    border: 1px solid white;
}