body {
    background-color: #070730;
    padding-top: 150px;
    color: white;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#profile_img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 180px;
}

#profile-hello {
    font-family: 'Raleway', sans-serif;
}

#profile-title {

}

#profile-subtitle {
    margin-top: -17px;

}


.social-buttons-links {
    padding-right: 15px;
}

.social-buttons-links:hover {
    color: #3d9970;
}

.social-buttons-svg {
    width: 50px;
    color: red;
}

.a-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 20px;
    top: 50%;
    margin: 5px auto;
    font: bold 11px Arial;

    text-decoration: none;
    background-color: transparent;
    color: white;
    padding: 2px 6px 2px 6px;
    border: 1px solid white;
}

.a-button:hover {
    background-color: #3d9970;
}

#profile-buttons-wrapper {
    padding-top: 15px;

}
