<div class="modal-wrapper">
    <div class="modal-header">
        <h3 class="modal-title">{{project.name}} <small>{{project.event[0]}}</small></h3>
        <span class="modal-tech" ng-repeat="t in project.tech">{{t}}</span>
    </div>
    <div class="modal-body" id="modal-description">
        <h4 class="modal-contents-header" ng-show="project.event[0]">Team</h4>
        <p>
        <a class="team-members" ng-repeat="(key, value) in project.team_links" href="{{value}}" target="_blank">{{key}}</a>
        </p>
        <h4 class="modal-contents-header">Project Summary</h4>
        <p>{{project.description}}</p>

        <h4 class="modal-contents-header">What I did</h4>
        <p>{{project.job_description}}</p>
        <br>
        <br>
        <a ng-show="project.links['proj']" href="{{project.links['proj']}}" class="a-button" target="_blank">SEE THE PROJECT</a>
        <a ng-show="!project.links['proj']" class="a-button-disabled"> No user interface Please visit Github.</a>
        <a ng-show="project.links['github']" href="{{project.links['github']}}" class="a-button" target="_blank">SEE THE CODE ON GITHUB</a>
        <a ng-show="!project.links['github']" class="a-button-disabled"> Github repo doesn't exist</a>
    </div>
</div>